.c-tagcfa-container {
  margin-bottom: 1rem;
}

.c-detail-emptyspace {
  line-height: 0.01;
}

.c-detail--collapse-header-true {
  position: sticky;
  z-index: 1;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  background: #fff;
}

.c-detail--collapse-header-true {
  .c-detail-emptyspace {
    display: none;
  }
}
