
.c-homecomponent-link {
  background: #000091;
  color: #f5f5fe;
  font-size: 16px;
  border: 1px solid #000091;
  padding: 10px 24px;
  cursor: pointer;
  white-space: nowrap;

  @media (max-width: 410px) {
    display: inline-block;
    float: left;
  }

  &:hover {
    text-decoration: none;
    color: #f5f5fe;
  }

  &__clear {
    color: #000091;
    background: none;

    &:hover {
      text-decoration: none;
      color: #000091;
    }
  }

  &__first {
    @media (max-width: 410px) {
      margin-bottom: 10px;
    }
  }

  @include media-breakpoint-up(md) {
    font-size: 18px;
  }
}